<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Executable" value="notepad.exe"/>
    <add key="Arguments" value=""/>
    <add key="Delay" value="5"/>
    <add key="Sepatation" value="3"/>
    <add key="Provision" value="3"/>
    <!-- serilog  -->
    <add key="serilog:minimum-level" value="Verbose" />
  </appSettings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>