<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Executable" value="Notepad.exe"/>
    <add key="Arguments" value=""/>
    <add key="Provision" value="2"/>
  </appSettings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>